USE [master]
GO
/****** Object:  Database [integracion_pie]    Script Date: 26-06-2019 8:48:01 ******/
CREATE DATABASE [integracion_pie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'integracion_pie', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\integracion_pie.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'integracion_pie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\integracion_pie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [integracion_pie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [integracion_pie]
GO
USE [integracion_pie]
GO
/****** Object:  Table [dbo].[alumno]    Script Date: 26-06-2019 8:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumno](
	[rut_alumno] [varchar](10) NOT NULL,
	[nombres_alumno] [varchar](250) NULL,
	[apellido_paterno] [varchar](50) NULL,
	[apellido_materno] [varchar](50) NULL,
	[fono_alumno] [int] NULL,
	[direccion_alumno] [varchar](350) NULL,
	[fecha_nacimiento] [date] NULL,
	[sexo_alumno] [varchar](50) NULL,
	[nacionalidad_alumno] [varchar](50) NULL,
	[estado] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[rut_alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apoderado]    Script Date: 26-06-2019 8:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apoderado](
	[rut_apoderado] [varchar](10) NOT NULL,
	[nombre_apoderado] [varchar](250) NULL,
	[fono_apoderado] [int] NULL,
	[direccion_apoderado] [varchar](250) NULL,
	[rut_fk_alumno] [varchar](10) NULL,
 CONSTRAINT [PK_apoderado] PRIMARY KEY CLUSTERED 
(
	[rut_apoderado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[citaciones]    Script Date: 26-06-2019 8:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[citaciones](
	[id_citacion] [int] IDENTITY(1,1) NOT NULL,
	[fecha_citacion] [date] NULL,
	[fecha_reunion] [date] NULL,
	[autoridad] [varchar](50) NULL,
	[hora] [varchar](20) NULL,
	[descripcion_fecha] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_citacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[curso]    Script Date: 26-06-2019 8:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curso](
	[id_curso] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [PK_curso] PRIMARY KEY CLUSTERED 
(
	[id_curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ficha_diagnostico]    Script Date: 26-06-2019 8:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ficha_diagnostico](
	[id_fichadiagnostico] [int] IDENTITY(1,1) NOT NULL,
	[rut_alumno] [varchar](10) NULL,
	[id_evaluador_1] [int] NULL,
	[id_evaluador_2] [int] NULL,
	[id_evaluador_3] [int] NULL,
	[id_evaluador_4] [int] NULL,
	[id_evaluador_5] [int] NULL,
	[id_apoyo_1] [int] NULL,
	[id_apoyo_2] [int] NULL,
	[id_apoyo_3] [int] NULL,
	[id_apoyo_4] [int] NULL,
	[id_tipoficha] [int] NULL,
	[curso_alumno] [int] NULL,
	[nuevo_ingreso] [varchar](300) NULL,
	[continuidad] [varchar](20) NULL,
	[diagnostico] [varchar](600) NULL,
	[sindrome_asociado_diagnostico] [varchar](600) NULL,
	[observaciones_salud] [varchar](900) NULL,
	[fecha_emision] [date] NULL,
	[prueba_1] [varchar](200) NULL,
	[puntaje_1] [varchar](4) NULL,
	[prueba_2] [varchar](200) NULL,
	[puntaje_2] [varchar](4) NULL,
	[prueba_3] [varchar](200) NULL,
	[puntaje_3] [varchar](4) NULL,
	[prueba_4] [varchar](200) NULL,
	[puntaje_4] [varchar](4) NULL,
	[prueba_5] [varchar](200) NULL,
	[puntaje_5] [varchar](4) NULL,
	[usuario] [int] NULL,
	[nombre_apoyo_1] [varchar](200) NULL,
	[nombre_apoyo_2] [varchar](200) NULL,
	[nombre_apoyo_3] [varchar](200) NULL,
	[nombre_apoyo_4] [varchar](200) NULL,
	[nombre_evaluador_1] [varchar](200) NULL,
	[nombre_evaluador_2] [varchar](200) NULL,
	[nombre_evaluador_3] [varchar](200) NULL,
	[nombre_evaluador_4] [varchar](200) NULL,
	[nombre_evaluador_5] [varchar](200) NULL,
	[numero_estudiante] [int] NULL,
	[rut_evaluador_1] [varchar](10) NULL,
	[rut_evaluador_2] [varchar](10) NULL,
	[rut_evaluador_3] [varchar](10) NULL,
	[rut_evaluador_4] [varchar](10) NULL,
	[rut_evaluador_5] [varchar](10) NULL,
	[profesion_evaluador_1] [varchar](200) NULL,
	[profesion_evaluador_2] [varchar](200) NULL,
	[profesion_evaluador_3] [varchar](200) NULL,
	[profesion_evaluador_4] [varchar](200) NULL,
	[profesion_evaluador_5] [varchar](200) NULL,
	[rut_apoyo_1] [varchar](10) NULL,
	[rut_apoyo_2] [varchar](10) NULL,
	[rut_apoyo_3] [varchar](10) NULL,
	[rut_apoyo_4] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fichadiagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesional_apoyo]    Script Date: 26-06-2019 8:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesional_apoyo](
	[id_profapoyo] [int] IDENTITY(1,1) NOT NULL,
	[rut_apoyo] [varchar](10) NULL,
	[nombre_apoyo] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_profapoyo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesional_evaluador]    Script Date: 26-06-2019 8:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesional_evaluador](
	[id_evaluador] [int] IDENTITY(1,1) NOT NULL,
	[rut_evaluador] [varchar](10) NULL,
	[nombre_evaluador] [varchar](200) NOT NULL,
	[profesion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evaluador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_ficha]    Script Date: 26-06-2019 8:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_ficha](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo] [varchar](80) NULL,
	[descripcion_tipoficha] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 26-06-2019 8:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](100) NULL,
	[pass] [varchar](100) NULL,
	[tipo_usuario] [varchar](8) NULL,
	[Nombre_completo_usuario] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[alumno] ([rut_alumno], [nombres_alumno], [apellido_paterno], [apellido_materno], [fono_alumno], [direccion_alumno], [fecha_nacimiento], [sexo_alumno], [nacionalidad_alumno], [estado]) VALUES (N'19837473-3', N'ANTONIA JULIA', N'URRUTIA', N'YAÑES', 976575432, N'NUEVA YORK', CAST(N'2009-06-19' AS Date), N'MUJER', N'CHILENA', N'activo')
INSERT [dbo].[alumno] ([rut_alumno], [nombres_alumno], [apellido_paterno], [apellido_materno], [fono_alumno], [direccion_alumno], [fecha_nacimiento], [sexo_alumno], [nacionalidad_alumno], [estado]) VALUES (N'19873563-9', N'JULIO ANDRES', N'RAMIRES', N'PALMA', 965326753, N'LOS ANGELES CALIFORNIA', CAST(N'2013-05-07' AS Date), N'HOMBRE', N'CHILENA', N'activo')
INSERT [dbo].[alumno] ([rut_alumno], [nombres_alumno], [apellido_paterno], [apellido_materno], [fono_alumno], [direccion_alumno], [fecha_nacimiento], [sexo_alumno], [nacionalidad_alumno], [estado]) VALUES (N'21321312-1', N'RODRIGO ANTONIO', N'CACERES', N'SUAZO', 952374264, N'TALCA', CAST(N'2009-06-10' AS Date), N'HOMBRE', N'CHILENA', N'activo')
INSERT [dbo].[apoderado] ([rut_apoderado], [nombre_apoderado], [fono_apoderado], [direccion_apoderado], [rut_fk_alumno]) VALUES (N'11119898-2', N'MARIANA ANTONIA VILLAGRAN JARA', 967485362, N'LOS PINOS SANTIAGO', N'21321312-1')
INSERT [dbo].[apoderado] ([rut_apoderado], [nombre_apoderado], [fono_apoderado], [direccion_apoderado], [rut_fk_alumno]) VALUES (N'222222-2', N'CECILIA ANGELICA RODRIGUES', 873657836, N'PUERTO MONTT', N'19873563-9')
INSERT [dbo].[apoderado] ([rut_apoderado], [nombre_apoderado], [fono_apoderado], [direccion_apoderado], [rut_fk_alumno]) VALUES (N'78364578-4', N'ANTONIA MARIA LOPES RIVERA', 873657836, N'LINARES', N'19837473-3')
SET IDENTITY_INSERT [dbo].[citaciones] ON 

INSERT [dbo].[citaciones] ([id_citacion], [fecha_citacion], [fecha_reunion], [autoridad], [hora], [descripcion_fecha]) VALUES (12, CAST(N'2019-06-18' AS Date), CAST(N'2019-07-11' AS Date), N'Equipo P.I.E.', N'13:40 hrs', N'Llancanao,  18 de junio del 2019')
INSERT [dbo].[citaciones] ([id_citacion], [fecha_citacion], [fecha_reunion], [autoridad], [hora], [descripcion_fecha]) VALUES (13, CAST(N'2019-06-18' AS Date), CAST(N'2019-06-08' AS Date), N'Equipo P.I.E.', N'12:43 hrs', N'Llancanao,  18 de junio del 2019')
INSERT [dbo].[citaciones] ([id_citacion], [fecha_citacion], [fecha_reunion], [autoridad], [hora], [descripcion_fecha]) VALUES (14, CAST(N'2019-06-18' AS Date), CAST(N'2019-06-21' AS Date), N'Equipo P.I.E.', N'13:40 hrs', N'Llancanao,  18 de junio del 2019')
SET IDENTITY_INSERT [dbo].[citaciones] OFF
INSERT [dbo].[curso] ([id_curso], [nombre]) VALUES (1, N'1° Basico')
INSERT [dbo].[curso] ([id_curso], [nombre]) VALUES (2, N'2° Basico')
INSERT [dbo].[curso] ([id_curso], [nombre]) VALUES (3, N'3° Basico')
SET IDENTITY_INSERT [dbo].[ficha_diagnostico] ON 

SET IDENTITY_INSERT [dbo].[ficha_diagnostico] OFF
SET IDENTITY_INSERT [dbo].[profesional_apoyo] ON 

INSERT [dbo].[profesional_apoyo] ([id_profapoyo], [rut_apoyo], [nombre_apoyo]) VALUES (16, N'x', N'VACIO')
INSERT [dbo].[profesional_apoyo] ([id_profapoyo], [rut_apoyo], [nombre_apoyo]) VALUES (17, N'19837878-2', N'MARIA ANGELICA LEAL MOLINA')
INSERT [dbo].[profesional_apoyo] ([id_profapoyo], [rut_apoyo], [nombre_apoyo]) VALUES (18, N'10989000-2', N'ANTONIO JOSE FUENTES CIFUENTES')
SET IDENTITY_INSERT [dbo].[profesional_apoyo] OFF
SET IDENTITY_INSERT [dbo].[profesional_evaluador] ON 

INSERT [dbo].[profesional_evaluador] ([id_evaluador], [rut_evaluador], [nombre_evaluador], [profesion]) VALUES (14, N'x', N'VACIO', N'X')
INSERT [dbo].[profesional_evaluador] ([id_evaluador], [rut_evaluador], [nombre_evaluador], [profesion]) VALUES (15, N'19845458-2', N'LUISA CECILIA JARA BUSTAMANTE', N'PSICOLOGA')
INSERT [dbo].[profesional_evaluador] ([id_evaluador], [rut_evaluador], [nombre_evaluador], [profesion]) VALUES (16, N'15673345-0', N'PAULINA MARIA PINOCHET SEGIURO', N'PSICOPERATEUTICA')
SET IDENTITY_INSERT [dbo].[profesional_evaluador] OFF
SET IDENTITY_INSERT [dbo].[tipo_ficha] ON 

INSERT [dbo].[tipo_ficha] ([id_tipo], [nombre_tipo], [descripcion_tipoficha]) VALUES (5, N'N.E.E.P', N'NECESIDADES EDUCATIVAS ESPECIALES PERMANENTE')
INSERT [dbo].[tipo_ficha] ([id_tipo], [nombre_tipo], [descripcion_tipoficha]) VALUES (6, N'N.E.E.T', N'NECESIDADES EDUCATIVAS ESPECIALES TRANSITORIAS')
INSERT [dbo].[tipo_ficha] ([id_tipo], [nombre_tipo], [descripcion_tipoficha]) VALUES (7, N'T.E.L', N'TRASTORNO ESPECIFICO DEL LENGUAJE')
SET IDENTITY_INSERT [dbo].[tipo_ficha] OFF
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id_usuario], [nombre_usuario], [pass], [tipo_usuario], [Nombre_completo_usuario]) VALUES (1, N'roy', N'1', N'admin', N'hjjghj')
INSERT [dbo].[usuario] ([id_usuario], [nombre_usuario], [pass], [tipo_usuario], [Nombre_completo_usuario]) VALUES (2, N'r', N'1', N'admin', N'Roy Edder Hidalgo Riquelme')
INSERT [dbo].[usuario] ([id_usuario], [nombre_usuario], [pass], [tipo_usuario], [Nombre_completo_usuario]) VALUES (3, N'cristian', N'1', N'admin', N'cristian oyarzun')
SET IDENTITY_INSERT [dbo].[usuario] OFF
ALTER TABLE [dbo].[apoderado]  WITH CHECK ADD  CONSTRAINT [FK_apoderado_alumno] FOREIGN KEY([rut_fk_alumno])
REFERENCES [dbo].[alumno] ([rut_alumno])
GO
ALTER TABLE [dbo].[apoderado] CHECK CONSTRAINT [FK_apoderado_alumno]
GO
ALTER TABLE [dbo].[citaciones]  WITH CHECK ADD  CONSTRAINT [FK_citaciones_citaciones] FOREIGN KEY([id_citacion])
REFERENCES [dbo].[citaciones] ([id_citacion])
GO
ALTER TABLE [dbo].[citaciones] CHECK CONSTRAINT [FK_citaciones_citaciones]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_alumno] FOREIGN KEY([rut_alumno])
REFERENCES [dbo].[alumno] ([rut_alumno])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_alumno]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_curso] FOREIGN KEY([curso_alumno])
REFERENCES [dbo].[curso] ([id_curso])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_curso]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_profesional_apoyo] FOREIGN KEY([id_apoyo_1])
REFERENCES [dbo].[profesional_apoyo] ([id_profapoyo])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_profesional_apoyo]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_profesional_apoyo1] FOREIGN KEY([id_apoyo_2])
REFERENCES [dbo].[profesional_apoyo] ([id_profapoyo])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_profesional_apoyo1]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_profesional_apoyo2] FOREIGN KEY([id_apoyo_3])
REFERENCES [dbo].[profesional_apoyo] ([id_profapoyo])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_profesional_apoyo2]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_profesional_apoyo3] FOREIGN KEY([id_apoyo_4])
REFERENCES [dbo].[profesional_apoyo] ([id_profapoyo])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_profesional_apoyo3]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_profesional_evaluador] FOREIGN KEY([id_evaluador_1])
REFERENCES [dbo].[profesional_evaluador] ([id_evaluador])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_profesional_evaluador]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_profesional_evaluador1] FOREIGN KEY([id_evaluador_2])
REFERENCES [dbo].[profesional_evaluador] ([id_evaluador])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_profesional_evaluador1]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_profesional_evaluador2] FOREIGN KEY([id_evaluador_3])
REFERENCES [dbo].[profesional_evaluador] ([id_evaluador])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_profesional_evaluador2]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_profesional_evaluador3] FOREIGN KEY([id_evaluador_4])
REFERENCES [dbo].[profesional_evaluador] ([id_evaluador])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_profesional_evaluador3]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_profesional_evaluador4] FOREIGN KEY([id_evaluador_5])
REFERENCES [dbo].[profesional_evaluador] ([id_evaluador])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_profesional_evaluador4]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_tipo_ficha] FOREIGN KEY([id_tipoficha])
REFERENCES [dbo].[tipo_ficha] ([id_tipo])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_tipo_ficha]
GO
ALTER TABLE [dbo].[ficha_diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_ficha_diagnostico_usuario] FOREIGN KEY([usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[ficha_diagnostico] CHECK CONSTRAINT [FK_ficha_diagnostico_usuario]
GO
/****** Object:  StoredProcedure [dbo].[buscador_ficha_rut]    Script Date: 26-06-2019 8:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create procedure [dbo].[buscador_ficha_rut]
  @rut_buscar varchar(10), 
   @fecha_buscar date 
 as

select ficha_diagnostico.numero_estudiante, alumno.apellido_paterno , alumno.apellido_materno , alumno.nombres_alumno , alumno.fecha_nacimiento , ficha_diagnostico.rut_alumno , alumno.sexo_alumno , alumno.nacionalidad_alumno , curso.nombre , ficha_diagnostico.nuevo_ingreso , ficha_diagnostico.continuidad , ficha_diagnostico.diagnostico , ficha_diagnostico.sindrome_asociado_diagnostico , ficha_diagnostico.observaciones_salud , ficha_diagnostico.fecha_emision , ficha_diagnostico.rut_evaluador_1 , ficha_diagnostico.nombre_evaluador_1 , ficha_diagnostico.profesion_evaluador_1  , ficha_diagnostico.rut_evaluador_2 , ficha_diagnostico.nombre_evaluador_2 , ficha_diagnostico.profesion_evaluador_2 , ficha_diagnostico.rut_evaluador_3  , ficha_diagnostico.nombre_evaluador_3 , ficha_diagnostico.profesion_evaluador_3 , ficha_diagnostico.rut_evaluador_4, ficha_diagnostico.nombre_evaluador_4 , ficha_diagnostico.profesion_evaluador_4 , ficha_diagnostico.rut_evaluador_5 , ficha_diagnostico.nombre_evaluador_5 , ficha_diagnostico.profesion_evaluador_5 , ficha_diagnostico.prueba_1 , ficha_diagnostico.puntaje_1 , ficha_diagnostico.prueba_2 , ficha_diagnostico.puntaje_2 , ficha_diagnostico.prueba_3 , ficha_diagnostico.puntaje_3 , ficha_diagnostico.prueba_4 , ficha_diagnostico.puntaje_4 , ficha_diagnostico.prueba_5 , ficha_diagnostico.puntaje_5 , ficha_diagnostico.rut_apoyo_1 , ficha_diagnostico.nombre_apoyo_1 , ficha_diagnostico.rut_apoyo_2 , ficha_diagnostico.nombre_apoyo_2 , ficha_diagnostico.rut_apoyo_3 , ficha_diagnostico.nombre_apoyo_3 , ficha_diagnostico.rut_apoyo_4  , ficha_diagnostico.nombre_apoyo_4 , tipo_ficha.nombre_tipo  
   from ficha_diagnostico , tipo_ficha , alumno , curso
   where ficha_diagnostico.curso_alumno = curso.id_curso and ficha_diagnostico.rut_alumno = alumno.rut_alumno and tipo_ficha. id_tipo = ficha_diagnostico.id_tipoficha and ficha_diagnostico.rut_alumno = @rut_buscar   and ficha_diagnostico.fecha_emision = @fecha_buscar 
  
GO
/****** Object:  StoredProcedure [dbo].[citaciones_reporte]    Script Date: 26-06-2019 8:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[citaciones_reporte]
  @fecha_actual varchar(10), 
   @fecha_reunion varchar(10)
   
 as
select citaciones.descripcion_fecha , citaciones.fecha_reunion , citaciones.autoridad , citaciones.hora from citaciones where citaciones.fecha_citacion = @fecha_actual   and citaciones.fecha_reunion = @fecha_reunion  
GO
USE [master]
GO
